canvas {
	border:1px solid silver;
	margin:auto;
	display: block;
}

canvas:full-screen {
	width: 100% !important;
}

canvas:-webkit-full-screen {
	width: 100% !important;
}

#cam {
	border: 1px solid silver;
}